---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { HomeCard, IntroParagraph, contentfulClient } from '../lib/contentful';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";

const entries = await contentfulClient.getEntries<HomeCard>({
  content_type: "homeCards",
});

const introEntries = await contentfulClient.getEntries<IntroParagraph>({
  content_type: "introParagraph",
});

const cards = entries?.items?.map((card) => {
	const { fields } = card;
	const { title, url, iconType } = fields;

	return { 
		title, 
		url, 
		iconType 
	}
})

const introParagraph = introEntries?.items?.map((intro) => {
	const { fields } = intro;
	const { body } = fields;
	
	
	return documentToHtmlString(body as Document);
})
---

<Layout title="@shaishaishaiii">
	<main>
		<div class="header-wrapper">
			<img src="/dp.JPG" alt="Shai" class="profile-pic" />
			<h1><span class="text-gradient">@shaishaishaiii</span></h1>
		</div>
		{introParagraph?.length && <article class="intro" set:html={introParagraph[0]} />}
		<ul role="list" class="link-card-grid">
			{cards && cards.map(({ title, iconType, url }) => (
				<Card
					href={url as string || ''}
					title={title as string}
					icon={iconType as string}
				/>
			))}
		</ul>
		<footer>
			&copy; 2023 <a href="https://baeq.dev" target="_blank">bryanaldrin</a>
		</footer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.intro {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.intro code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.intro strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	footer {
		margin-top: 36px;
		text-align: center;
		font-size: 10px;
		color: var(--text-color);
	}

	footer > a {
		color: var(--text-color);
	}

	.header-wrapper {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.profile-pic {
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
		object-fit: cover;
	}
</style>
