---
import { Analytics } from '@vercel/analytics/react';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Shaira Rae">
		<meta name="description" content="Social Media Link Archive">
		<meta name="keywords" content="tiktok, instagram, shaishaishaiii, vsco, youtube, ph, philippines, tiktok shop, online selling">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Analytics />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #378ddd 30%, white 60%);
		--text-color: #111;
		--bg-color: #F6F6F6;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--bg-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	@media screen and (prefers-color-scheme: dark) {
		:root {
			--text-color: #fff;
			--bg-color: #292f3d;
		}
	}
</style>
